<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.roadrunner.android"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />
        
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    	<!-- Google Maps -->
    	<uses-library android:name="com.google.android.maps" />
    	
    	<!-- Services -->
    	<service android:name=".service.MonitoringService" />
    	<service android:name=".service.ReplicationService" />
    	<service android:name=".service.LoggingService"/>
    	<service android:name=".service.ReplicatorService"/>
    	
        <!-- Login Activity -->
        <activity android:name=".activity.Login"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                
        <!-- Roadrunner Activity -->
        <activity android:name=".activity.Roadrunner"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/app_name">
        </activity>
        
        <!-- Delivery Activity -->
        <activity android:name=".activity.Deliveries"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/deliveries_title">
        </activity>
        
        <!-- Items Activity -->
        <activity android:name=".activity.Items"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/items_title">
        </activity>
        
        <!-- Route Activity -->
        <activity android:name=".activity.DeliveryMap"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/map_title">
        </activity>
        
        <!-- Settings Activity -->
        <activity android:name=".activity.Settings"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/pref_title">
        </activity>
		
		<!-- Info Activity -->
        <activity android:name=".activity.Info"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/info_title">
        </activity>
        
        <!-- SystemTest Activity -->
        <activity android:name=".activity.SystemTest"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/systemtest_title">
        </activity>
        
         <!-- Monitoring Activity -->
        <activity android:name=".activity.Monitoring"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/monitoring_title">
        </activity>
                
        <activity android:name=".activity.ServiceController"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/service_controller_title">
        </activity>
        
        <activity android:name=".activity.Signature"
        		  android:theme="@style/Theme.Roadrunner"
                  android:label="@string/signature_title">
        </activity>
        
    </application>
</manifest>
